{%- import "includes/hooks.jinja" as hooks with context -%}
{%- if monorepo_component -%}
# Plugin specific hooks, the generic ones are expected to be in the root configuration.
# prek discovers this as a workspace member: https://prek.j178.dev/reference/workspace/
{%- else -%}
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]
default_install_hook_types: [pre-commit, commit-msg]
{%- endif %}

default_language_version:
  python: python{{ python_version }}

repos:
{%- if not monorepo_component %}
{{- hooks.standard() }}
{{ hooks.taplo() }}
{{ hooks.markdownlint() }}
{%- endif %}
{%- if insert_copyright_header %}
{{ hooks.insert_license() }}
{%- endif %}
{%- if not monorepo_component %}
{{ hooks.ruff() }}
{%- endif %}
{{ hooks.flake8(["flake8-qgis==2.1.0"] if monorepo_component else ["flake8-spellcheck==0.28.0", "flake8-qgis==2.1.0"]) }}
{%- if not monorepo_component %}
{{ hooks.bandit() }}
{{ hooks.mypy() }}
{%- endif %}
{{ hooks.qgis_plugin_dev_tools(setup_translations or not monorepo_component) }}
{%- if not monorepo_component %}
{{ hooks.gitlint() }}
{%- endif %}
