import typing

from qgis.utils import plugins
{%- if setup_translations %}

from {{ qgis_plugin_module }}.utils import i18n_utils
{%- endif %}

if typing.TYPE_CHECKING:
{%- if setup_translations %}
    from qgis.PyQt import QtCore
{% endif %}
    from {{ qgis_plugin_module }}.plugin import Plugin

{%- if setup_translations %}

TRANSLATORS: "list[QtCore.QTranslator]" = []{% endif %}


def classFactory(_) -> "Plugin":  # noqa: ANN001, N802
    """Class factory."""
    {% if setup_translations -%}
    TRANSLATORS.extend(i18n_utils.setup_all_translators())

    {% endif -%}
    from {{ qgis_plugin_module }}.plugin import Plugin  # noqa: PLC0415

    return Plugin()


def get_instance() -> "Plugin | None":
    """Get instance."""
    return plugins.get(__name__)
