[general]
name={{ qgis_plugin_name }}
description={{ qgis_plugin_description }}
about=
version=0.0.0
qgisMinimumVersion=3.22
icon=
author={{ plugin_metadata_author }}
email={{ plugin_metadata_email }}
changelog=
tags=
repository={{ plugin_metadata_repository_url }}
homepage={{ plugin_metadata_repository_url }}
tracker={{ plugin_metadata_repository_url }}/issues
category=Plugins
experimental=True
deprecated=False
