[general]
name={{ qgis_plugin_name }}
description={{ qgis_plugin_description }}
about=# Copier question
version=0.0.0
qgisMinimumVersion=3.22
qgisMaximumVersion=4.99
icon=
author={{ plugin_metadata_author }}
email={{ plugin_metadata_email }}
changelog=
tags=#copier question?
repository={{ plugin_metadata_repository_url }}
homepage={{ plugin_metadata_repository_url }}
tracker={{ plugin_metadata_repository_url }}/issues
category=Plugins
experimental=True#maybe TODO comment?

deprecated=False
